<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="../assets/images/favicon.png" type="image/x-icon" />
  <meta name="#1 Commercial Interior Designers in Bengaluru - Spaceman Designs"
    content="Elevate your workspace with our premier commercial interior design services in Bangalore. From innovative office layouts to sophisticated retail spaces.">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" />
  <link rel="stylesheet" href="../assets/home.css" />
  <link rel="stylesheet" href="../assets/homemobile.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" />
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="../assets/home.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.8/lottie.min.js"></script>
  <style>
    .img_box img {
      max-width: 100%;
    }

    .slider_container .container {
      padding-left: 2vw;
      max-width: 75vw;
      margin: 0 auto;
    }

    .card_slider {
      padding: 30px 0px;
    }
  </style>
  <title>#1 Commercial Interior Designers in Bengaluru - Spaceman Designs</title>
</head>

<body>
  <div id="navbar2">
    <div class="menu-toggle" id="mobile-menu">
      <img src="../assets/images/ham2.png" alt="no image" />
    </div>
    <ul class="nav-list">
      <li><a href="/">Home</a></li>
      <li><a href="/solution">Our Solutions</a></li>
      <li><a href="">Blogs</a></li>
      <li><a href="/gallery">Gallery</a></li>
      <li><a href="gallery">About Us</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const mobileMenuButton = document.getElementById("mobile-menu");
      const navList = document.querySelector(".nav-list");

      mobileMenuButton.addEventListener("click", function () {
        navList.style.display =
          navList.style.display === "block" ? "none" : "block";
      });
    });
  </script>

  <a href="/"><img id="logo" src="../assets/images/logo.png" alt="logo" /></a>

  <div class="navbar">
    <a href="/" style="color: #f5cc2a">Home</a>
    <a href="/solution">Our Solutions</a>
    <a href="">Blogs</a>
    <a href="/gallery">Gallery</a>
    <a href="/">About Us</a>
    <a href="/contact" class="rainbow-btn"><span>Contact Us</span></a>
  </div>

  <button id="scrollToTopBtn" style="
        background-color: transparent;
        border: none;
        position: fixed;
        bottom: 5%;
        right: 3%;
        z-index: 999;
        cursor: pointer;
        display: none;
      ">
    <img src="../assets/images/moveup.png" />
  </button>

  <script>
    window.addEventListener("scroll", scrollEventHandler);

    function scrollToTop() {
      window.scrollTo({
        top: 0,
        behavior: "smooth",
      });
    }

    document
      .getElementById("scrollToTopBtn")
      .addEventListener("click", function () {
        scrollToTop();
      });

    window.addEventListener("scroll", function () {
      var scrollToTopBtn = document.getElementById("scrollToTopBtn");
      if (window.scrollY >= 800) {
        scrollToTopBtn.style.display = "block";
      } else {
        scrollToTopBtn.style.display = "none";
      }
    });
  </script>

  <div id="consultus">
    <div class="owl-carousel owl-theme" id="first-image-container">
      <div class="item">
        <img src="../assets/images/start1.png" alt="Image 1" />
      </div>
      <div class="item">
        <img src="../assets/images/start3.png" alt="Image 2" />
      </div>
      <div class="item">
        <img src="../assets/images/start2.png" alt="Image 3" />
      </div>
    </div>

    <!-- Add jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Add Owl Carousel JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script>
      $(document).ready(function () {
        $(".owl-carousel").owlCarousel({
          loop: true,
          margin: 10,
          nav: true,
          dots: true,
          autoplay: true,
          autoplayTimeout: 3000,
          // autoplayHoverPause: true,
          responsive: {
            0: {
              items: 1,
            },
            600: {
              items: 1,
            },
            1000: {
              items: 1,
            },
          },
        });
      });
    </script>

    <div id="consultuscontent">
      <h1>#1 Commercial Interior Designers in Bengaluru.</h1>
      <p id="consultpara">Pioneering Global Interior</p>
      <p id="consultpara">Design Excellence,</p>
      <p id="consultpara2">Spaceman Design provides you with access to</p>
      <p id="consultpara2">
        professional interior designers who have the expertise to
      </p>
      <p id="consultpara2">create the perfect design for your space.</p>

      <a href="/contact"> <button id="consultusbtn">Consult Us</button></a>
    </div>
  </div>

  <div id="rattings">
    <a href="https://www.trustpilot.com/review/spacemandesigns.com"><img src="../assets/images/trustpilot.png"
        alt="trustpilot" /></a>
    <a href="https://www.google.com/maps/place/Spaceman+Designs/@13.058048,77.6503296,12z/data=!4m6!3m5!1s0x3bae1765cbc89a3b:0xfad8d5ac1657443d!8m2!3d13.0622168!4d77.6495875!16s%2Fg%2F11jknt1y9s?entry=ttu"
      id="googlrating">
      <!-- <img src="../assets/images/google.png" alt="google review"/> -->
      <div id="lottie-container1"></div>
      <img src="../assets/images/googlerating.png" />
    </a>
    <img src="../assets/images/happy.png" alt="customer happy" />
  </div>
  <h3 style="text-align: center; padding-top: 5.4vw; margin: 0" id="Deliveringour">
    Delivering our promise to our esteemed clients
  </h3>
  <section class="slider_container">
    <div class="container">
      <div class="swiper card_slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="img_box">
              <img src="../assets/images/accenture.png" alt="" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="img_box">
              <img src="../assets/images/oppo.png" alt="" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="img_box">
              <img src="../assets/images/yudiz.png" alt="" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="img_box">
              <img src="../assets/images/zeta.png" alt="Zeta Logo" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="img_box">
              <img src="../assets/images/reebok.png" alt="Reebok Logo" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="img_box">
              <img src="../assets/images/indiqube.png" alt="Indiqube Logo" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="img_box">
              <img src="../assets/images/innoplcxus.png" alt="" />
            </div>
          </div>
        </div>

        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>

  <script type="text/javascript">
    var swiper = new Swiper(".card_slider", {
      slidesPerView: 3,
      spaceBetween: 30,
      loop: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      breakpoints: {
        320: {
          slidesPerView: 3,
        },
        480: {
          slidesPerView: 3,
        },
        768: {
          slidesPerView: 4,
        },
        1200: {
          slidesPerView: 5,
        },
      },
    });
  </script>

  <!-- solutions part start -->

  <h3 id="solutions">Solutions - That Makes a Difference</h3>
  <div id="solutioncontent">
    <div id="solution1">
      <div><img src="../assets/images/solution1.png" alt="solution" /></div>
      <div id="lottie-container" style="width: 30vw; height: auto"></div>
    </div>
    <div id="solution2">
      <div><img src="../assets/images/solution2.png" alt="solution" /></div>
      <div id="lottie-container2" style="width: 30vw; height: auto"></div>
    </div>
    <div id="solution3">
      <div><img src="../assets/images/solution3.png" alt="solution" /></div>
      <div id="lottie-container3" style="width: 30vw; height: auto"></div>
    </div>
  </div>

  <h3 id="hassel">Steps For Hassle free & Convenient Process</h3>
  <div id="hasselcontent">
    <div id="maindiv">
      <div class="image-container">
        <img src="../assets/images/up1.png" class="image" />
        <img src="../assets/images/down1.png" class="image2" />
        <img src="../assets/images/up22.png" class="image3" />
        <img src="../assets/images/down2.png" class="image4" />
        <img src="../assets/images/up3.png" class="image5" />
      </div>
    </div>
  </div>

  <!-- gallery here  -->
  <div id="gallerymain">
    <h3 id="galleryheading">Gallery</h3>
    <div id="gallery">
      <div id="grid1">
        <img src="../assets/images/gallery1.png" alt="no image" />
      </div>
      <div id="grid2">
        <img src="../assets/images/gallery2.png" alt="no image" />
        <img src="../assets/images/gallery3.png" alt="no image" />
      </div>
    </div>
    <div id="gallery2">
      <div id="grid3">
        <img src="../assets/images/gallery4.png" alt="no image" />
      </div>
      <div id="grid4">
        <img src="../assets/images/gallery5.png" alt="no image" />
      </div>
    </div>
  </div>

  <!-- card start from here  -->

  <div id="card">
    <div id="cardcontent">
      <h3 id="cardheading">Our Industry Expertise</h3>
      <p>
        Whether you are looking to enhance your current interior, or want a
        standalone design
      </p>
      <p>which creates impressions.</p>
      <p>
        Thanks to our team's vast industry expertise, we have built a range of
        proven in-house
      </p>
      <p>technology solutions, tailor-made for several industries.</p>
    </div>
    <div id="cardfunctionality">
      <div id="cardbuttons">
        <button id="button1">
          <img src="../assets/images/corporate.png" alt="" data-default-src="../assets/images/corporate.png"
            data-hover-src="../assets/images/corporatechange.png"
            data-click-src="../assets/images/corporatechange1.png" />
        </button>
        <button id="button2">
          <img src="../assets/images/cafe.png" alt="" data-default-src="../assets/images/cafe.png"
            data-hover-src="../assets/images/cafechange.png" data-click-src="../assets/images/cafechange1.png" />
        </button>
        <button id="button3">
          <img src="../assets/images/hospital.png" alt="" data-default-src="../assets/images/hospital.png"
            data-hover-src="../assets/images/hospitalchange.png"
            data-click-src="../assets/images/hospitalchange1.png" />
        </button>
        <button id="button4">
          <img src="../assets/images/school.png" alt="" data-default-src="../assets/images/school.png"
            data-hover-src="../assets/images/schoolchange.png" data-click-src="../assets/images/schoolchange1.png" />
        </button>
        <button id="button5">
          <img src="../assets/images/homeinterior.png" alt="" data-default-src="../assets/images/homeinterior.png"
            data-hover-src="../assets/images/homeinteriorchange.png"
            data-click-src="../assets/images/homeinteriorchange1.png" />
        </button>
      </div>
      <div id="cardimages">
        <div id="cardimagesimagediv">
          <img src="../assets/images/corporatecontent.png" alt="no image" id="contentimage" />
        </div>

        <div>
          <h3 id="content" style="text-decoration: underline; margin: 0">
            Corporate & MNC
          </h3>
          <ul style="line-height: 3vw; padding: 0">
            <li id="list1">
              Custom solutions reflecting brand identity and culture.
            </li>
            <li id="list2">
              Designs optimize space and foster collaboration.
            </li>
            <li id="list3">
              Spaces exude professionalism and brand essence.
            </li>
            <li id="list4">
              Inspiring designs fuel creativity and innovation.
            </li>
            <li id="list5">
              Services contribute to organizational success and values.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <script>
    let contentData = null;

    fetch("../assets/data.json")
      .then((response) => response.json())
      .then((data) => {
        contentData = data;
        console.log(contentData);
      })
      .catch((err) => console.error("Error loading Json file:", err));

    const buttons = document.querySelectorAll("#cardbuttons button");
    const image = document.getElementById("image");
    let clickedButton = null;

    // Function to set the default state for all buttons
    function setDefaultState() {
      buttons.forEach((btn) => {
        btn.querySelector("img").src = btn
          .querySelector("img")
          .getAttribute("data-click-src");

        if (index === 0) {
          btn.click();
        }
      });
    }

    // Function to handle mouseenter event
    function handleMouseEnter(button) {
      const img = button.querySelector("img");
      img.src = img.getAttribute("data-hover-src");
    }

    // Function to handle mouseleave event
    function handleMouseLeave(button) {
      if (button !== clickedButton) {
        const img = button.querySelector("img");
        img.src = img.getAttribute("data-default-src");
      }
    }
    function displayContent(index) {
      const contentimage = document.getElementById("contentimage");
      const contentElement = document.getElementById("content");
      const list1 = document.getElementById("list1");
      const list2 = document.getElementById("list2");
      const list3 = document.getElementById("list3");
      const list4 = document.getElementById("list4");
      const list5 = document.getElementById("list5");
      if (contentData && contentData[index]) {
        contentimage.src = contentData[index].img;
        contentElement.textContent = contentData[index].content;
        list1.textContent = contentData[index].list1;
        list2.textContent = contentData[index].list2;
        list3.textContent = contentData[index].list3;
        list4.textContent = contentData[index].list4;
        list5.textContent = contentData[index].list5;
      } else {
        contentElement.textContent = "Content not available";
      }
    }

    // Function to handle click event
    function handleClick(button) {
      buttons.forEach((btn, index) => {
        const img = btn.querySelector("img");
        if (btn === button) {
          displayContent(index);
          img.src = img.getAttribute("data-click-src");
          // displayContent(index);
        } else {
          img.src = img.getAttribute("data-default-src");
        }
      });

      const img = button.querySelector("img");

      // Set clickedButton and remove mouseleave listener for it
      clickedButton = button;
      button.removeEventListener("mouseleave", handleMouseLeave);
    }

    // Add event listeners to each button
    buttons.forEach((button) => {
      button.addEventListener("mouseenter", () => handleMouseEnter(button));
      button.addEventListener("mouseleave", () => handleMouseLeave(button));
      button.addEventListener("click", () => handleClick(button));
    });

    // Set default state when the page loads
    window.addEventListener("load", setDefaultState);
  </script>
  <div id="testimonialparent">
    <div id="testimonial">
      <h3 style="font-weight: 550">Testimonials</h3>

      <div id="testimonialcontent">
        <div>
          <p style="margin: 0">Sannjay K S</p>
          <p style="margin-top: 0">Bengaluru</p>
          <p>
            Exceptional service done by team! Working with Spaceman Designs
            was an absolute delight from start to finish. They took our vague
            ideas and turned them into a breathtaking reality.
          </p>
        </div>
        <div>
          <p style="margin: 0">LakshmiKanth M P</p>
          <p style="margin-top: 0">Kolar</p>
          <p>
            From the moment we contacted them, their team displayed unmatched
            professionalism and creativity. They listened attentively to our
            preferences and delivered a design that surpassed our wildest
            dreams.
          </p>
        </div>
        <div>
          <p style="margin: 0">Sai Nilesh</p>
          <p style="margin-top: 0">Bengaluru</p>
          <p>
            Absolutely blown away by the talent and dedication of the team at
            Spaceman Designs! They took our outdated space and turned it into
            a modern masterpiece that perfectly reflects our style and
            personality.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- location and form starts here  -->
  <div id="locationandform">
    <div id="formmain">
      <div id="form">
        <h3 id="getintouch" style="font-size: 56px; margin: 0; padding-left: 4%">
          Get in <span style="color: #f9d26c">Touch</span>
        </h3>
        <p style="padding-bottom: 20px; padding-left: 4%">
          You can reach us by phone, email, or by filling out the contact form
          below. will do our best to respond to your inquiry as soon as
          possible.
        </p>
        <form action="/sendMail" method="post" id="mapform">
          <input type="text" placeholder="Name*" id="name" name="name" required />
          <input type="email" placeholder="Email" id="email" name="email" />
          <input type="tel" placeholder="Phone Number*" id="phone" name="phone" required />
          <select id="find-us" name="find-us">
            <option value="" disabled hidden selected>
              How did you find us?
            </option>
            <option value="search">Search Engine</option>
            <option value="social">Social Media</option>
            <option value="referral">Word of Mouth</option>
            <option value="ad">Advertisement</option>
          </select>
          <input type="submit" id="submit" value="Send" class="sendbutton" />
        </form>
      </div>
      <div id="contactimages">
        <img src="../assets/images/phone.png" alt="phone icon" />
        <img src="../assets/images/fax.png" alt="fax icon" />
        <img src="../assets/images/email.png" alt="email icon" />
      </div>
    </div>
    <div id="location">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.5825618955732!2d77.64701257572408!3d13.062222012883648!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1765cbc89a3b%3A0xfad8d5ac1657443d!2sSpaceman%20Designs!5e0!3m2!1sen!2sin!4v1710407216690!5m2!1sen!2sin"
        width="700" height="600" style="border: 0" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>

  <a href="/contact" style="text-decoration: none;" id="consultationmain">
    <div id="consultation">
      <p style="font-size: 2vw; margin: 0; font-weight: bold; margin: 0.5vw;">Do you have project to discuss ?</p>
      <p style="font-size: 2vw; margin: 0; font-weight: bold; margin: 0.5vw;"> Get the Free Consultation </p>
      <p style="font-size: 0.9vw; margin: 0; margin: 0.5vw;">It is a long established fact will be </p>
      <p style="font-size: 0.9vw; margin: 0; margin: 0.5vw;">distracted.</p>
      <button id="arrow">Contact Us &#8594</button>
    </div>
  </a>

  <div id="contactus">
    <div id="socialmedia">
      <img id="footerlogo" src="../assets/images/logo.png" alt="Logo" />
      <div id="icons">
        <a id="facebooklogo" href="https://www.facebook.com/spacemandesignsofficial
         " target="_blank">
          <img id="facebooklogoimage" src="../assets/images/facebook.png" alt="Facebook Icon" /></a>
        <a href="">
          <img src="../assets/images/twitter.png" alt="Twitter Icon" /></a>
        <a href="https://www.linkedin.com/company/spaceman-designs/" target="_blank">
          <img src="../assets/images/linkedin.png" alt="LinkedIn Icon" />
        </a>
        <a href="https://www.instagram.com/spacemandesigns6/" target="_blank">
          <img src="../assets/images/instagram.png" alt="Instagram Icon" />
        </a>
      </div>
    </div>
    <div id="contactinfo">
      <div style="width: 25%;" id="pages">
        <p style="font-weight: bold;">Pages</p>
        <p>About Us</p>
        <p>Blogs</p>
        <p><a href="/solution" style="text-decoration: none; color: black;">Our Solution</a></p>
        <p><a href="/contact" style="text-decoration: none; color: black;">Contac Us</a></p>
        <p><a href="/gallery" style="text-decoration: none; color: black;">Gallery</a></p>
      </div>
      <div style="width: 50%;" id="pagescontact">
        <p style="font-weight: bold;">Contact</p>
        <p style="color: #880000; font-weight: bold;">Spaceman Designs.</p>
        <p style="width: 80%;" id="address">#756, Raika Main Road, Opp Bharath Petroleum Kothanur Bengaluru-560077,
          Karnataka, India.</p>
        <p>Contact: <a href="tel:+918639468811" style="text-decoration: none; color: black;">(+91) 863-946-8811</a></p>
        <p><a href="mailto:info@spacemandesigns.com" style="text-decoration: none; color: black;">Email I'd:
            Info@spacemandesigns.com</a></p>
      </div>
    </div>
  </div>

  <!-- popup form  -->
  <div id="popupformmain1" style="display: none;">
    <div id="popupformmain">
      <div id="popupformsub">
        <div id="popupform">
          <h3 id="formheading">
            Connect With Our Designer <span><br /></span> To Get Started
          </h3>
          <form id="formbegin" action="/sendMail" method="post">
            <div id="group1">
              <input type="text" placeholder="Your Full Name" name="name" />
              <input type="email" placeholder="Official Email id" name="email" />
            </div>
            <div id="group2">
              <input type="tel" placeholder="Contact No." name="phone" />
              <input type="text" placeholder="City" name="city" />
            </div>
            <div id="requirements">
              <select id="requirements" name="requirements">
                <option value="" disabled hidden selected>
                  Requirements
                </option>
                <option value="Homedesign">Homedesign</option>
                <option value="Appartments">Appartments</option>
                <option value="Villa">Villa</option>
                <option value="others">others</option>
              </select>
            </div>
            <div id="submit1">
              <input type="submit" id="submit2" value="Submit" style="width: 43%" />
            </div>
            <div id="checkbox">
              <input type="checkbox" />
              <p>
                By submitting this form, I agree to be contacted by a member
                of the Spaceman Designs team.
              </p>
            </div>
          </form>
        </div>
        <div id="popupformcontent">
          <p>
            Craft Your Next Commercial Space<span><br /></span> with Spaceman
            Designs, Your <span><br /></span> Interior Design Partner."
          </p>
          <a href="/contact" id="requestacall">
            <img src="../assets/images/reqcall.png" alt="no image" /></a>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Add submit event listener to the form
      document
        .getElementById("formbegin")
        .addEventListener("submit", function (event) {
          event.preventDefault(); // Prevent the default form submission

          // Display a confirmation alert using SweetAlert2
          Swal.fire({
            title: "Thanks For your Intrest",
            text: "We will contact you soon",
            icon: "success",
            confirmButtonText: "Ok",
          }).then((result) => {
            // Check if the user confirmed the alert
            if (result.isConfirmed) {
              // If confirmed, submit the form
              console.log("before submit");
              this.submit();
              console.log("after submit");
            }
          });
        });
    });
  </script>
  <p style="text-align: end; color: #979797; padding-right: 23.52%; font-size: 0.9vw;" id="copyright">Copyright &copy;
    2024 Spaceman Designs. All Rights Reserved.</p>
</body>

</html>