<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
    />
    <link rel="stylesheet" href="../assets/home.css" />
    <link rel="stylesheet" href="../assets/homemobile.css" />
    <link rel="stylesheet" href="../assets/contactus.css" />
    <link rel="stylesheet" href="../assets/oursolution.css"/>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../assets/home.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.8/lottie.min.js"></script>

    <title>Our Solution</title>
  </head>
  <body>
    <div id="navbar2">
      <div class="menu-toggle" id="mobile-menu">
        <img src="../assets/images/ham2.png" alt="no image" />
      </div>
      <ul class="nav-list">
        <li><a href="/">Home</a></li>
        <li><a href="/solution">Our Solutions</a></li>
        <li><a href="">Blogs</a></li>
        <li><a href="locationnav">Gallery</a></li>
        <li><a href="gallery">About Us</a></li>
        <li><a href="why-us">Contact Us</a></li>
      </ul>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const mobileMenuButton = document.getElementById("mobile-menu");
        const navList = document.querySelector(".nav-list");

        mobileMenuButton.addEventListener("click", function () {
          navList.style.display =
            navList.style.display === "block" ? "none" : "block";
        });
      });
    </script>

    <img id="logo" src="../assets/images/logo.png" alt="logo" />
    <div class="navbar">
      <a href="/">Home</a>
      <a href="/solution">Our Solutions</a>
      <a href="">Blogs</a>
      <a href="#locationhr">Gallery</a>
      <a href="#trying">About Us</a>
      <a href="/contact" class="rainbow-btn"><span>Contact Us</span></a>
    </div>
    <div id="bannerimage">
      <img src="../assets/images/livingroom.png" alt="no banner">
      <h3 style="font-size: 48px; margin: 0; text-align: center; position: absolute; top: 17vw;left: 43vw;">Our Solution</h3>
      <p style="text-align: center; position: absolute; top: 20vw; left: 34vw; margin: 0;"><a href="/" style="text-decoration: none; color: black;">Home</a> <span><img src="../assets/images/rightarrow.png" alt="no image" id="arrowimage">  </span> Our Solution</p>
      </div>

      <div id="oussolutioncontent">
        <img src="../assets/images/homeDecoration.png"  alt="decoration"/>
        <img src="../assets/images/renovationIdeas.png"  alt="decoration"/>
        <img src="../assets/images/lightingStyle.png"  alt="decoration"/>
      </div>

      <div id="howweworkmain">
        <h3 id="howweworkheading">How We Work</h3>
        <p id="howweworkpara">It is a long established fact  will be distracted.Lorem Ipsum is simply <br /> dummy text of the printing and typesetting industry.</p>
        <div id="howweworkcontent">
          <img src="../assets/images/01.png" alt="step one"/>
          <img src="../assets/images/02.png" alt="step two"/>
          <img src="../assets/images/03.png" alt="step three"/>
          <img src="../assets/images/04.png" alt="step four"/>
        </div>
        <div id="howweworkfooter">
          <img src="../assets/images/howweworkfooter.png" alt="how we work footer"/>
        </div>
      </div>

      <a href="/contact"
      ><div id="consultation">
        <img src="../assets/images/consultation.png" alt="Consultation Image" />
      </div>
    </a>

    <div id="contactus">
      <div id="socialmedia">
        <img id="footerlogo" src="../assets/images/logo.png" alt="Logo" />
        <div id="icons">
          <a
            id="facebooklogo"
            href="https://www.facebook.com/spacemandesignsofficial
         "
            target="_blank"
          >
            <img src="../assets/images/facebook.png" alt="Facebook Icon"
          /></a>
          <a href="">
            <img src="../assets/images/twitter.png" alt="Twitter Icon"
          /></a>
          <a
            href="https://www.linkedin.com/company/spaceman-designs/"
            target="_blank"
          >
            <img src="../assets/images/linkedin.png" alt="LinkedIn Icon" />
          </a>
          <a href="https://www.instagram.com/spacemandesigns6/" target="_blank">
            <img src="../assets/images/instagram.png" alt="Instagram Icon" />
          </a>
        </div>
      </div>
      <div id="contactinfo">
        <img src="../assets/images/contactinfo.png" alt="Contact Info" />
      </div>
    </div>

  </body>
</html>
