#bannerimage {
  width: 100vw;
}

#livingroomimage {
  width: 100vw;
}

#oussolutioncontent {
  width: 100vw;
  gap: 2vw;
}

#oussolutioncontent div {
  width: 30%;
  font-size: 2vw;

}

#oussolutioncontentdiv img
{
  width: 100%;
}

#howweworkfooter {
  display: flex;
  justify-content: center;
  width: 100vw;
}

#howweworkfooter img {
  width: 90vw;
}

#oussolutioncontent {
  margin-top: 3vw;
  display: flex;
  justify-content: center;
}

#howweworkheading {
  margin: 2%;
  font-size: 60px;
  text-align: center;
  font-weight: lighter;
}

#howweworkpara {
  font-size: 26px;
  text-align: center;
  margin: 0;
  padding-bottom: 2%;
}

#howweworkcontent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#howweworkcontent img {
  margin: 2% 0 2% 0;
  width: 60%;
}

#howweworkfooter {
  margin: 2% 0 3% 0;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1200px) {
  #bannerimage {
    padding-top: 25vw !important;
  }

  #oursolutionheading {
    font-size: 3vw !important;
    text-align: center !important;
    position: relative !important;
    left: 0 !important;
    top: -17vw !important;
    z-index: 2;
  }

  #homeandoursolution {
    position: relative !important;
    left: 0 !important;
    top: -15vw !important;
    font-size: 3vw !important;
  }

  #howweworkheading
  {
    font-size: 3vw !important;
  }

  #howweworkpara
  {
    font-size: 2vw !important;
  }
}
